.brands {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1c5c8;
}

.brands__item {
  position: relative;
  padding: 4px 0 4px 25px;
  display: block;
  color:#707070;
}

.brands__item:hover {
  color: #fcc030;
}

.brands__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  background-color: #c1c5c8;
}

.brands__item.selected {
  color: #fcc030;
}

.brands__item.selected::before {
  background-color: #fcc030;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features-title {
  padding-top: 0;
  display: inline-block;
  font-size: 18px;
  text-align: left;
}

.features-title.main-title::after {
  width: 50%;
  left: 0;
  transform: translateX(0);
}

.features-values {
  
}

.features-values a {
  margin-bottom: 8px;
  padding: 4px 0;
  padding-left: 25px;
  position: relative;
  display: block;
  color: #999;
}

.features-values a:last-child {
  margin-bottom: 0;
}

.features-values a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  transition: 0.3s ease;
}

.features-values a.selected::before {
  background-color: #fcc030;
}
