
.footer  {
 	padding: 27px 0;
 	font-size: 12px;
 	color: #b7b9bc;
 	text-transform: uppercase;
 	background:#363a42;
}

.text-copyright {
	padding: 20px 0;
	text-align: center;
}

.text-copyright__link:hover {
	color:#fcc030
}

.social-list {
	margin-bottom: 20px;
	text-align: center;
}

.social-list__link {
	display: inline-block;
  margin-right: 10px;
}

.social-list__link:last-of-type {
	margin-right: 0;
}

.payment {
	text-align: center;
}



/* group SEO */
.user-content {
	margin-bottom: 30px;
}

.page-title {
  padding-bottom: 20px; 
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
  color: #363a42;
  text-transform: uppercase;
}