.tiny-product {
  margin-bottom: 30px;
}

.tiny-product__inner {
  position: relative;
  padding: 10px;
  height: 100%;
  background-color: #ffffff;
}


.tiny-product__inner:hover {
  box-shadow: 0 15px 20px 0 rgba(0,0,0,.15);
}

.tiny-product__label {
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 20px;
  width: 45px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f25252;
  color: #fff;
  text-align: center;
}


.tiny-product__image {
  display: block;
  height: 200px;
  line-height: 200px;
  background-color: transparent;
  text-align: center;
}

.tiny-product__info {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.tiny-product__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  color: #222;
}

.tiny-product__name:hover {
  color: #fcc030;
}

.tiny-product__cart {
  
}

.tiny-product__price {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #727782;
}

.compare-price {
  display: block;
  color: #a8aebb;
  text-decoration: line-through;
}

.price { 
  display: block;
}

@media (min-width: 768px) {


 .tiny-product__inner {
   height: 100%;
 }

  .tiny-product__row {
   display: flex;
   flex-direction: column;
   height: 100%;
 }

 .tiny-product__image {
   min-height: 200px;
 }

 .tiny-product__info {
    margin-top: 10px;
    flex-grow: 1;
    align-items: center;
 }

 .tiny-product__cart {
   margin-top: auto;
 }

}


.btn {
  display: inline-block;
  color: #fff;
  background-color: #ffcd56;
  border-color: #ffc53d;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color:#f5ae04;
}


@media (min-width: 1200px) {

  .product-image {
    margin-bottom: 10px;
  }

  .product-meta {
    position: relative;
  }
/* 
  .variants {

  }

  .variants::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(54,58,66,.6);
    opacity: 0;
    transition: all 0.3s;
  }



  .btn {
    opacity: 0;
    position: absolute;
    top: -49px;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    font-weight: bold;
    text-align: left;
  }

  .tiny_product:hover .variants::before {
    height: 60px;
    opacity: 1;
  }

  .tiny_product:hover .btn {
    opacity: 1;
  }

  .price {
    margin-right: 0;
  } */
}