.crumbles {
  margin-bottom: 60px;
  padding: 25px 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.crumbles__item {
  color: #333e48;
}


.crumbles__item svg {
  margin: 0 10px;
  transform: rotate(-90deg);
  fill: #333e48;
}

.crumbles__item:hover,
.crumbles__item--active {
  color: #fcc030;
}