*, :after, :before{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.mobile-hidden {
	display: none;
}

html {font-size: 16px;}

body {
	min-height: 100vh;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
			
	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;  
	align-items: stretch;
}

.container {
	position: relative;
	display: block;
	width: 100%;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin-left: -1rem;
	margin-right: -1rem;
}

.row--small {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.row--flex {
	display: flex;
  flex-wrap: wrap;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-fluid,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-fluid,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-fluid,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-fluid{
	position: relative;
	display: block;
	min-height: 1px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.col--small {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.col-xs-fluid, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, 
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}

.col-xs-fluid {width: auto;}

.col-xs-12	{width: 100%;}
.col-xs-11	{width: 91.66666667%;}
.col-xs-10	{width: 83.33333333%;}
.col-xs-9	{width: 75%;}
.col-xs-8	{width: 66.66666667%;}
.col-xs-7	{width: 58.33333333%;}
.col-xs-6	{width: 50%;}
.col-xs-5	{width: 41.66666667%;}
.col-xs-4	{width: 33.33333333%;}
.col-xs-3	{width: 25%;}
.col-xs-2	{width: 16.66666667%;}
.col-xs-1	{width: 8.33333333%;}

.offset-xs-12	{margin-left: 100%;}
.offset-xs-11	{margin-left: 91.66666667%;}
.offset-xs-10	{margin-left: 83.33333333%;}
.offset-xs-9	{margin-left: 75%;}
.offset-xs-8	{margin-left: 66.66666667%;}
.offset-xs-7	{margin-left: 58.33333333%;}
.offset-xs-6	{margin-left: 50%;}
.offset-xs-5	{margin-left: 41.66666667%;}
.offset-xs-4	{margin-left: 33.33333333%;}
.offset-xs-3	{margin-left: 25%;}
.offset-xs-2	{margin-left: 16.66666667%;}
.offset-xs-1	{margin-left: 8.33333333%;}
.offset-xs-0	{margin-left: 0;}

@media (min-width: 768px) {
	
	.col-sm-fluid, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
	.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: left;}
	
	.col-sm-fluid {width: auto;}
	
	.col-sm-12	{width: 100%;}
	.col-sm-11	{width: 91.66666667%;}
	.col-sm-10	{width: 83.33333333%;}
	.col-sm-9	{width: 75%;}
	.col-sm-8	{width: 66.66666667%;}
	.col-sm-7	{width: 58.33333333%;}
	.col-sm-6	{width: 50%;}
	.col-sm-5	{width: 41.66666667%;}
	.col-sm-4	{width: 33.33333333%;}
	.col-sm-3	{width: 25%;}
	.col-sm-2	{width: 16.66666667%;}
	.col-sm-1	{width: 8.33333333%;}
	
	.offset-sm-12	{margin-left: 100%;}
	.offset-sm-11	{margin-left: 91.66666667%;}
	.offset-sm-10	{margin-left: 83.33333333%;}
	.offset-sm-9	{margin-left: 75%;}
	.offset-sm-8	{margin-left: 66.66666667%;}
	.offset-sm-7	{margin-left: 58.33333333%;}
	.offset-sm-6	{margin-left: 50%;}
	.offset-sm-5	{margin-left: 41.66666667%;}
	.offset-sm-4	{margin-left: 33.33333333%;}
	.offset-sm-3	{margin-left: 25%;}
	.offset-sm-2	{margin-left: 16.66666667%;}
	.offset-sm-1	{margin-left: 8.33333333%;}
	.offset-sm-0	{margin-left: 0;}
 
}

@media (min-width: 992px) {

	.container {width: 960px;}
	
	.col-md-fluid, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left;}

	.col-md-fluid {width: auto;}
	
	.col-md-12	{width: 100%;}
	.col-md-11	{width: 91.66666667%;}
	.col-md-10	{width: 83.33333333%;}
	.col-md-9	{width: 75%;}
	.col-md-8	{width: 66.66666667%;}
	.col-md-7	{width: 58.33333333%;}
	.col-md-6	{width: 50%;}
	.col-md-5	{width: 41.66666667%;}
	.col-md-4	{width: 33.33333333%;}
	.col-md-3	{width: 25%;}
	.col-md-2	{width: 16.66666667%;}
	.col-md-1	{width: 8.33333333%;}
	
	.offset-md-12	{margin-left: 100%;}
	.offset-md-11	{margin-left: 91.66666667%;}
	.offset-md-10	{margin-left: 83.33333333%;}
	.offset-md-9	{margin-left: 75%;}
	.offset-md-8	{margin-left: 66.66666667%;}
	.offset-md-7	{margin-left: 58.33333333%;}
	.offset-md-6	{margin-left: 50%;}
	.offset-md-5	{margin-left: 41.66666667%;}
	.offset-md-4	{margin-left: 33.33333333%;}
	.offset-md-3	{margin-left: 25%;}
	.offset-md-2	{margin-left: 16.66666667%;}
	.offset-md-1	{margin-left: 8.33333333%;}
	.offset-md-0	{margin-left: 0;}
	
}

@media (min-width: 1200px) {

	.container {width: 1170px;}
	
	.col-lg-fluid, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {float: left;}
	
	.col-lg-fluid {width: auto;}
  
	.col-lg-12	{width: 100%;}
	.col-lg-11	{width: 91.66666667%;}
	.col-lg-10	{width: 83.33333333%;}
	.col-lg-9	{width: 75%;}
	.col-lg-8	{width: 66.66666667%;}
	.col-lg-7	{width: 58.33333333%;}
	.col-lg-6	{width: 50%;}
	.col-lg-5	{width: 41.66666667%;}
	.col-lg-4	{width: 33.33333333%;}
	.col-lg-3	{width: 25%;}
	.col-lg-2	{width: 16.66666667%;}
	.col-lg-1	{width: 8.33333333%;}
	
	.offset-lg-12	{margin-left: 100%;}
	.offset-lg-11	{margin-left: 91.66666667%;}
	.offset-lg-10	{margin-left: 83.33333333%;}
	.offset-lg-9	{margin-left: 75%;}
	.offset-lg-8	{margin-left: 66.66666667%;}
	.offset-lg-7	{margin-left: 58.33333333%;}
	.offset-lg-6	{margin-left: 50%;}
	.offset-lg-5	{margin-left: 41.66666667%;}
	.offset-lg-4	{margin-left: 33.33333333%;}
	.offset-lg-3	{margin-left: 25%;}
	.offset-lg-2	{margin-left: 16.66666667%;}
	.offset-lg-1	{margin-left: 8.33333333%;}
	.offset-lg-0	{margin-left: 0;}
	
}

.col--right {float: right;}

.row::after,
.row::before,
.clear::after,
.clear::before,
.container::after,
.container::before {
	content: '';
	display: table;
}

.row::after,
.clear::after,
.container::after{clear: both;}

.hidden {display: none !important;}
.visible {display: block !important;}

.visible-xs,
.visible-xs-flex,
.visible-xs-table,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm,
.visible-sm-flex,
.visible-sm-table,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md,
.visible-md-flex,
.visible-md-table,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg,
.visible-lg-flex,
.visible-lg-table,
.visible-lg-inline,
.visible-lg-inline-block {display: none !important;}

@media (max-width: 767px) {
	.visible-xs {display: block !important;}
	.visible-xs-table {display: table !important;}
	.visible-xs-inline {display: inline !important;}
	.visible-xs-inline-block {display: inline-block !important;}
	table.visible-xs {display: table !important;}
	tr.visible-xs {display: table-row !important;}
	th.visible-xs, 
	td.visible-xs {display: table-cell !important;}
	.visible-xs-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {display: block !important;}
	.visible-sm-table {display: table !important;}
	.visible-sm-inline {display: inline !important;}
	.visible-sm-inline-block {display: inline-block !important;}
	.visible-sm-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	table.visible-sm {display: table !important;}
	tr.visible-sm {display: table-row !important;}
	th.visible-sm, 
	td.visible-sm {display: table-cell !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {display: block !important;}
	.visible-md-table {display: table !important;}
	.visible-md-inline {display: inline !important;}
	.visible-md-inline-block {display: inline-block !important;}
	.visible-md-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	table.visible-md {display: table !important;}
	tr.visible-md {display: table-row !important;}
	th.visible-md, 
	td.visible-md {display: table-cell !important;}
}

@media (min-width: 1200px) {
	.visible-lg {display: block !important;}
	.visible-lg-table {display: table !important;}
	.visible-lg-inline {display: inline !important;}
	.visible-lg-inline-block {display: inline-block !important;}
	.visible-lg-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	table.visible-lg {display: table !important;}
	tr.visible-lg {display: table-row !important;}
	th.visible-lg, 
	td.visible-lg {display: table-cell !important;}
}

@media (max-width: 767px)							{.hidden-xs {display: none !important;}}
@media (min-width: 768px) and (max-width: 991px)	{.hidden-sm {display: none !important;}}
@media (min-width: 992px) and (max-width: 1199px)	{.hidden-md {display: none !important;}}
@media (min-width: 1200px)							{.hidden-lg {display: none !important;}}