@import url("reset.css");
@import url("grid.css");
html,
body {
  width: 100%;
  height: 100%;
  font: 14px 'Roboto', sans-serif;
  line-height: 18px;
  background-color: #ffffff;
  color: #363636; }

a {
  color: inherit;
  text-decoration: none; }

button {
  padding: 0;
  border: none;
  background-color: transparent; }

button:focus {
  outline: none; }

ul {
  margin: 0;
  list-style: none; }

e[type="button"] {
  cursor: hand;
  cursor: pointer; }

.section {
  padding: 20px 0;
  background-color: #ffffff; }

.section--dark {
  background-color: #f0f0f0; }

.main-title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
  text-align: center;
  color: #363a42;
  text-transform: uppercase;
  letter-spacing: 2px; }

.main-title::after {
  content: '';
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 12%;
  height: 1px;
  border-top: 1px dotted #9ba6bb; }

@media (min-width: 768px) {
  .section {
    padding: 40px 0; } }

.header {
  font-weight: bold;
  color: #000000;
  background: #ffffff; }

.header__container {
  width: 100%;
  padding: 0 20px;
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 4; }

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #000000;
  z-index: 0; }

.header__search {
  width: 25%;
  text-align: center;
  cursor: pointer; }

.search__form {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 9;
  font-weight: 300;
  color: #363636;
  padding: 20px;
  background-color: #f8f6f0; }

.search__form.isactive {
  display: block; }

.header__search .input_search {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
  height: 42px;
  width: 80%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  color: #acacac; }

.header__search .input_search:focus {
  outline: none;
  border-color: #ffcd56; }

::-webkit-input-placeholder {
  font: 14px 'Roboto', sans-serif;
  font-weight: 300;
  color: #acacac; }

.header__search .button_search {
  position: relative;
  margin-left: -5px;
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 42px;
  background-color: #ffcd56;
  border-radius: 2px 2px 0 0; }

.header__user-info {
  position: relative;
  width: 25%;
  text-align: center; }

.user-info__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 125px;
  width: 100%;
  z-index: 99;
  color: #363636;
  padding: 20px;
  background-color: #f8f6f0;
  text-align: left; }

.user-info__list.isactive {
  display: block; }

.user-info__list > a {
  display: block;
  padding: 5px 0;
  font-weight: 300; }

.user-info__list > a:hover {
  color: #ffcd56; }

.header__cart_informer {
  width: 25%;
  text-align: center; }

.cart {
  padding: 10px;
  position: relative;
  display: inline-block; }

.cart svg {
  fill: #ffffff; }

.cart__total {
  position: absolute;
  top: 6px;
  right: 4px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #ffcd56;
  text-align: center; }

.cart__price {
  display: none; }

.header__logo {
  padding: 10px 0;
  width: 100%;
  text-align: center; }

.logo__link {
  display: block; }

.header__contact {
  margin: 20px 0;
  font-weight: bold;
  width: 100%;
  text-align: center; }

.contact .phone {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px; }

@media (min-width: 1200px) {
  .header__container {
    padding: 0 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__container::before {
    height: 42px;
    background-color: #363a42; }
  .mobile-btn {
    display: none; }
  .header__contact {
    margin: 0;
    position: relative;
    width: 60%;
    text-align: left;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1; }
  .header__contact svg {
    margin-top: 10px;
    fill: #ffffff; }
  .header__contact .phone {
    font-size: 14px;
    line-height: 42px;
    font-weight: 300;
    color: #b7b9bc; }
  .header__user-info {
    position: relative;
    width: 40%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2; }
  .user-info__list {
    display: block;
    position: static;
    padding: 0;
    width: auto;
    line-height: 32px;
    color: #b7b9bc;
    background-color: transparent; }
  .user-info__list > a {
    margin-left: 30px;
    float: right;
    padding: 5px 0; }
  .user-info__list > a:last-of-type {
    margin-left: 0; }
  .header__logo {
    width: 20%;
    text-align: left;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3; }
  .logo__link {
    display: inline-block;
    margin: 0;
    height: 50px;
    vertical-align: top; }
  .header__search {
    width: 18%;
    text-align: center;
    cursor: pointer;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 5;
    order: 5;
    margin-left: auto; }
  .search__form {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    color: #363636;
    padding: 0;
    background-color: transparent; }
  .header__search .input_search {
    position: absolute;
    right: 42px;
    top: auto;
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in; }
  .header__search .button_search {
    right: -92px; }
  .header__search .input_search:focus {
    width: 130%; }
  .header__cart_informer {
    margin-left: auto;
    width: auto;
    text-align: center;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 6;
    order: 6; }
  .cart {
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle; }
  .cart svg {
    fill: #000000;
    width: 32px;
    height: 32px; }
  .cart__total {
    padding-top: 3px;
    right: 6px;
    top: 2px;
    width: 18px;
    height: 18px;
    color: #ffffff; } }

.menu {
  width: 25%;
  text-align: center; }

.mobile-btn {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 12px; }

.mobile-btn.active {
  background-color: #fcb817; }

.mobile-btn--search,
.mobile-btn--user-info {
  width: 100%; }

.mobile-btn--close {
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  background-color: #000000; }

.menu-sidebar {
  display: block;
  position: absolute;
  z-index: 999;
  left: -65%;
  top: 0;
  height: 100vh;
  width: 65%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: left;
  overflow-y: auto;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease; }

.menu-sidebar.isactive {
  display: block; }

.menu-sidebar__control {
  background-color: #ffcd56; }

.menu-sidebar__control span {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff; }

.menu__list {
  padding: 0 20px; }

.menu__item {
  position: relative;
  color: #363636;
  border-bottom: 1px solid #e8e8e8; }

.menu__item:hover > a,
.menu__item--selected > a {
  color: #ffcd56; }

.menu__item > a {
  width: 100%;
  display: inline-block;
  padding: 10px 15px 10px;
  line-height: 22px; }

.menu__item-open {
  float: right;
  width: 24px;
  height: 24px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5; }

.catalog-menu {
  display: none;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffffff; }

.catalog-menu.isactive {
  display: block; }

.catalog-menu__list-lvl1 {
  padding: 20px 0; }

.catalog-menu__item-name-lvl1 {
  padding: 5px 0 5px 20px; }

.catalog-menu__item-name-lvl1:hover {
  background-color: #f5f5f5; }

.icon-more {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5; }

.catalog-menu__item > a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #1f252b; }

.catalog-menu__list-lvl2 {
  padding: 10px 20px;
  display: none;
  background-color: #ffffff; }

.catalog-menu__item-lvl2 {
  padding: 5px 0; }

.catalog-menu__list-lvl2.isactive {
  display: block; }

.catalog-menu__item-name-lvl2 {
  color: #ffcd56; }

.catalog-menu__item-name-lvl2:hover > a {
  border-bottom: 1px solid #ffcd56; }

.catalog-menu__list-lvl3 {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid  #e8e8e8; }

.catalog-menu__item-lvl3 {
  position: relative;
  float: left;
  margin-right: 12px;
  padding: 5px 0; }

.catalog-menu__item-lvl3::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -7px;
  width: 2px;
  height: 2px;
  background-color: #333333; }

.catalog-menu__item-lvl3:last-of-type {
  margin-right: 0; }

.catalog-menu__item-lvl3:last-of-type::after {
  display: none; }

.catalog-menu__item-lvl3:hover {
  background-color: #f5f5f5; }

@media (min-width: 1200px) {
  .menu {
    width: 50%;
    text-align: left;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 4;
    order: 4;
    /* margin-left: 45px; */ }
  .menu-sidebar {
    display: block;
    position: static;
    height: auto;
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left; }
  .menu-sidebar__control {
    display: none; }
  .flex-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /*  -webkit-box-pack: justify;
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around; */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .menu__list {
    padding: 0; }
  .menu__item {
    position: static;
    border-bottom: none;
    margin-right: 25px; }
  .menu__item:last-of-type {
    margin-right: 0; }
  .menu__item:hover > a,
  .menu__item--active > a {
    color: #ffcd56; }
  .menu__item > a {
    position: relative;
    display: inline-block;
    padding: 30px 0;
    text-transform: uppercase; }
  .menu__item:hover > a::after,
  .menu__item--active > a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 70%;
    width: 35%;
    height: 2px;
    background-color: #ffcd56; }
  .menu__item-open {
    background-color: transparent;
    border: none; }
  .catalog-menu {
    display: none;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 100%;
    width: auto;
    z-index: 999;
    font-size: 14px;
    font-weight: 300;
    border: none;
    -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); }
  .menu__item--catalog:hover .catalog-menu {
    display: block; }
  .catalog-menu__list-lvl1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0; }
  .catalog-menu__item-lvl1 {
    padding-right: 30px;
    padding-left: 30px;
    border-left: 1px solid #e8e8e8;
    max-width: 25%; }
  .catalog-menu__item-lvl1:first-of-type {
    border-left: 0; }
  .catalog-menu__item-name-lvl1 {
    padding: 0;
    padding-bottom: 8px;
    border-bottom: 1px dotted #000000;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase; }
  .catalog-menu__item-name-lvl1:hover {
    background-color: transparent; }
  .icon-more {
    display: none; }
  .catalog-menu__list-lvl2 {
    padding: 10px 0;
    display: block; }
  .catalog-menu__item-lvl2 {
    padding: 10px 0; }
  .catalog-menu__item-name-lvl2 {
    color: #ffcd56; }
  .catalog-menu__item-name-lvl2:hover > a {
    border-bottom: 1px solid #ffcd56; }
  .catalog-menu__list-lvl3 {
    margin-top: 10px;
    padding-top: 10px; }
  .catalog-menu__item-lvl3 {
    position: relative;
    float: left;
    margin-right: 12px;
    padding: 5px 0; }
  .catalog-menu__item-lvl3::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -8px;
    width: 4px;
    height: 4px;
    background-color: #333333; } }

.tiny-product {
  margin-bottom: 30px; }

.tiny-product__inner {
  position: relative;
  padding: 10px;
  height: 100%;
  background-color: #ffffff; }

.tiny-product__inner:hover {
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15); }

.tiny-product__label {
  position: absolute;
  z-index: 8;
  top: 15px;
  left: 20px;
  width: 45px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f25252;
  color: #fff;
  text-align: center; }

.tiny-product__image {
  display: block;
  height: 200px;
  line-height: 200px;
  background-color: transparent;
  text-align: center; }

.tiny-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.tiny-product__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  color: #222; }

.tiny-product__name:hover {
  color: #fcc030; }

.tiny-product__price {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #727782; }

.compare-price {
  display: block;
  color: #a8aebb;
  text-decoration: line-through; }

.price {
  display: block; }

@media (min-width: 768px) {
  .tiny-product__inner {
    height: 100%; }
  .tiny-product__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
  .tiny-product__image {
    min-height: 200px; }
  .tiny-product__info {
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .tiny-product__cart {
    margin-top: auto; } }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #ffcd56;
  border-color: #ffc53d;
  border-radius: 2px;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer; }

.btn:hover {
  background-color: #f5ae04; }

@media (min-width: 1200px) {
  .product-image {
    margin-bottom: 10px; }
  .product-meta {
    position: relative; }
  /* 
  .variants {

  }

  .variants::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(54,58,66,.6);
    opacity: 0;
    transition: all 0.3s;
  }



  .btn {
    opacity: 0;
    position: absolute;
    top: -49px;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    font-weight: bold;
    text-align: left;
  }

  .tiny_product:hover .variants::before {
    height: 60px;
    opacity: 1;
  }

  .tiny_product:hover .btn {
    opacity: 1;
  }

  .price {
    margin-right: 0;
  } */ }

.crumbles {
  margin-bottom: 60px;
  padding: 25px 0;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center; }

.crumbles__item {
  color: #333e48; }

.crumbles__item svg {
  margin: 0 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #333e48; }

.crumbles__item:hover,
.crumbles__item--active {
  color: #fcc030; }

.brands {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1c5c8; }

.brands__item {
  position: relative;
  padding: 4px 0 4px 25px;
  display: block;
  color: #707070; }

.brands__item:hover {
  color: #fcc030; }

.brands__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  background-color: #c1c5c8; }

.brands__item.selected {
  color: #fcc030; }

.brands__item.selected::before {
  background-color: #fcc030; }

.features__item:not(:last-child) {
  margin-bottom: 30px; }

.features-title {
  padding-top: 0;
  display: inline-block;
  font-size: 18px;
  text-align: left; }

.features-title.main-title::after {
  width: 50%;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.features-values a {
  margin-bottom: 8px;
  padding: 4px 0;
  padding-left: 25px;
  position: relative;
  display: block;
  color: #999; }

.features-values a:last-child {
  margin-bottom: 0; }

.features-values a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.features-values a.selected::before {
  background-color: #fcc030; }

.sort {
  padding: 25px 0;
  background: #fff; }

.sort a {
  padding: 6px 0;
  margin-left: 25px;
  border-bottom: 1px solid #e8e8e8;
  color: #999; }

.sort .selected {
  color: #fcc030;
  border-color: #fcc030; }

.pagination {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  overflow: hidden; }

.pagination__control {
  display: block;
  float: left;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  text-align: center; }

.pagination__control--disabled {
  color: #999; }

.pagination__link {
  display: block;
  float: left;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  text-align: center; }

.pagination__link--current {
  background-color: #fcc030;
  color: #ffffff;
  border-color: #008fe9; }

.pagination__control:hover,
.pagination__link:hover {
  background-color: #b7b9bc; }

.footer {
  padding: 27px 0;
  font-size: 12px;
  color: #b7b9bc;
  text-transform: uppercase;
  background: #363a42; }

.text-copyright {
  padding: 20px 0;
  text-align: center; }

.text-copyright__link:hover {
  color: #fcc030; }

.social-list {
  margin-bottom: 20px;
  text-align: center; }

.social-list__link {
  display: inline-block;
  margin-right: 10px; }

.social-list__link:last-of-type {
  margin-right: 0; }

.payment {
  text-align: center; }

/* group SEO */
.user-content {
  margin-bottom: 30px; }

.page-title {
  padding-bottom: 20px;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  text-align: left;
  color: #363a42;
  text-transform: uppercase; }
