.header {
  position: relative;
	background-color:#ffffff;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: $active-color;
}


.header__mobi-btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-right: 1px solid #1c8cb7;
  text-align: center;
  color: #fff;

  &:last-of-type{
    border-right: 0;
  }

  &:hover {
    color: #facec0;
  }
}

.btn-trigger {
  position: relative;
  display: block;
  margin: auto;
  width: 24px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;

  &::before,
  &::after{
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}


.header__mobi-btn--menu.is-active {
  .btn-trigger {
    transform: rotate(360deg);

    &::before,
    &::after {
      top: 0;
      width: 15px;
      transform-origin: 1.71429px center;
    }

    &::before {
      transform: rotate3d(0,0,1,40deg);
    }

    &::after {
      transform: rotate3d(0,0,1,-40deg);
    }
  }
}


.header__menu-flex {
  width: 25%;
  text-align: center;
}

.header__menu {
  display: block;
  position: absolute;
  z-index: 100;
  left: -340px;
  top: 55px;
  background-color: #ffffff;
  width: 320px;
  height: 100vh;
  overflow-y: scroll;
  color:#337ab7;
  transition: 0.3s cubic-bezier(0.55,0,0.1,1);
  text-align: left;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
  //border: 1px solid #f5f5f5;
  //border-left: none;

  &.is-active {
    left: 0;
  }
}

.header__menu-btn-close {
  position: absolute;
  z-index: 101;
  top: 15px;
  right: 17px;
}

.header__search-flex {
  width: 25%;
  text-align: center;
}

.header__search {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 55px;
  width: 100%;
  color: #fff;

  &.is-active {
    display: block;
  }

  .input_search {
    color: #757575;
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 55px;
    padding: 14px 100px 14px 15px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;

    &:focus {
      box-shadow: 0 0 9px rgba(0,0,0,0.03);
      background-color: #fff;
      outline: none;
    }
  }

  .button_search {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    background: #1c8cb7;
  }
}

.header__favorite-flex {
  width: 25%;
  text-align: center;
}

.header__cart-flex {
  width: 25%;
  text-align: center;
}


.header__currencies-flex {
  display: none;
}

.header__logo-flex {
  width: 50%;
  text-align: center;
}

.header__logo {
  display: block;
  padding: 10px 0;
}

.header__support-flex {
  width: 50%;
  text-align: right;
}

.header__support {

  svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }
  .text {
    display: none;
  }

  .tel {
    display:inline-block;
    font-size: 12px;
    color: #23292f;
    vertical-align: middle;
  }
}

.header__user-info {
  padding: 10px 15px;
  color: #23292f;
  background-color: #F5F5F5;
  border-top: 1px solid #f0f0f0;
}

.header__user-info-item {
  display: block;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #707070;
}

.header__user-info-item--username {
  svg {
    margin-right: 5px;
    vertical-align: middle;
  }
  a {
    display: inline-block;
    line-height: 24px;
  }
}

.header__user-info-diskount {
  font-size: 12px;
}


@media (min-width: 480px) {
  .header__support-flex {
    text-align: center;
  }

  .header__support {
    .text {
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }
    .tel {
      display: block;
      padding-left: 8px;
      font-size: 14px;
    }
  }
}

.header__user-info {
  background-color: #f5f5f5;
}


@media (min-width: 768px) {

  .header__support {
    position: relative;

    svg {
      position: absolute;
      top: 7px;
      left: auto;
      margin-left: -135px;
      width: 40px;
      height: 40px;
      transform: rotate(5deg);
    }

    .text {
      font-size: 18px;
      margin-bottom: 5px;
      display: block;
    }

    .tel {
      font-size: 20px;
    }
  }

  .header__user-info-diskount {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {

  .header::before {
    height: 60px;
  }

  .header__mobi-btn {
    display: none;
  }

  .header__menu-flex {
    order: 1;
    width: 85%;
  }

  .header__menu {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    position: static;
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: transparent;
    box-shadow: none;
  }

  .header__menu-btn-close {
    display: none;
  }

  .header__currencies-flex {
    display: block;
    width: 15%;
    order: 2;
    text-align: right;
  }

  .header__logo-flex {
    margin-right: auto;
    width: 25%;
    order: 3;
  }

  .header__logo {
    padding: 20px 0;
  }

  .header__search-flex {
    padding-left: 7%;
    flex-grow: 1;
    order: 4;
    text-align: center;
  }

  .header__search {
    display: block;
    position: relative;
    top: 0;

  }

  .header__support-flex {
    margin-left: 20px;
    width: 18%;
    order: 5;
  }

  .header__support {
    .text {
      margin: 0;
      font-size: 16px;
      padding-left: 30px;
      text-align: left;
    }

    .tel {
      font-size: 18px;
      text-align: left;
    }

    svg {
      top: 0px;
      left: 4px;
      margin-left: 0;
      width: 20px;
      height: 20px;
      transform: rotate(5deg);
    }
  }

  .header__favorite-flex {
    margin-left: auto;
    margin-right: 20px;
    padding-right: 20px;
    width: auto;
    order: 6;
    border-right: 1px solid #ebebeb;
  }

  .header__mobi-btn--favorite {
    margin: 0 auto;
    display: block;
    color: #23292f;

    &:hover {
      color: $active-color;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .header__cart-flex {
    margin-right: 10px;
    width: auto;
    order: 7;
    
    svg {
      width: 35px;
      height: 35px;
    }
  }

  .header__user-info {
    padding: 0;
    float: right;
    background-color: $active-color;
    border-top: none;
  }

  .header__user-info-item {
    float: left;
    display: block;
    font-size: 14px;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    border-right: 1px solid #1c8cb7;
    transition: color 0.3s ease-in;
    &:last-child {
      border-right: none;
    }
  

    &:hover {
      color: #facec0;
    }
  }

  .header__user-info-diskount {
    font-size: 12px;
  }
}

@media (min-width: 1366px) {

  .header::before {
    height: 60px;
  }

  .header__mobi-btn {
    display: none;
  }

  .header__menu-flex {
    order: 1;
    width: 85%;
  }

  .header__menu {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    position: static;
    width: auto;
    background-color: transparent;
  }

  .header__currencies-flex {
    display: block;
    width: 15%;
    order: 2;
    text-align: right;
  }

  .header__logo-flex {
    width: 25%;
    order: 3;
  }

  .header__logo {
    padding: 20px 0;
  }

  .header__search-flex {
    width: 35%;
    order: 4;
    text-align: center;
  }

  .header__search {
    display: block;
    position: relative;
    top: 0;

  }

  .header__support-flex {
    margin-left: 40px;
    width: 15%;
    order: 5;
    text-align: center;
  }

  .header__favorite-flex {
    margin-left: auto;
    margin-right: 25px;
    padding-right: 20px;
    width: auto;
    order: 6;
    border-right: 1px solid #ebebeb;
  }

  .header__mobi-btn--favorite {
    margin: 0 auto;
    display: block;
    color: #23292f;

    &:hover {
      color: $active-color;
    }

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .header__cart-flex {
    width: auto;
    order: 7;
    
    svg {
      width: 35px;
      height: 35px;
    }
  }

   .header__user-info-item {
    padding: 0 29px;
   }
}