.main__products-section {

}

.main__products-title {
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #23292f;
}

.main__products-slider {
  
  .tiny-product {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }
}

.main__products-slider--light {
  .slick-dots {
    position: absolute;
    bottom: 10px;
  }
}


@media (min-width: 768px) { 
  .main__products-title {
    margin-bottom: 25px;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
  }

  .main__products-slider {

    .slick-list,
    .slick-track {
      display: flex;
    }
    .slick-dots {
      bottom: -20px;
    }
    .tiny-product__inner:hover {
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
    }
  }
}