.currencies {
  
}

@media (min-width: 1024px) {
	.currencies {
		display: block;
		font-family: 'Rubik', sans-serif;
    font-weight: 400;

		h2 {
			margin-right: 15px;
			display: inline-block;
      color: #82d0f0;
      font-family: "Rubik",sans-serif;
      font-weight: 300;
      font-size: 14px;
		}
	}

	.currencies__list {
		display: inline-block;
		color: #fff;
	}

	.currencies__item {
		color: #23292f;
	} 
}