.comments {
  position: relative;
}

.comments__item {
	margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.comments__author {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
	font-weight: bold;
  text-transform: uppercase;
	color: #000;
}

.comments__date {
	display: block;
  clear: both;
  color: #23292f;
  text-transform: uppercase;

  svg {
    margin-right: 5px;
    fill: $active-color;
    vertical-align: middle;
  }
}

.comments__absent {
  margin-bottom: 15px;
  font-size: 16px;
  color: #23292f;
}

.comments__text {
  margin-top: 15px;
}

.comments__btn-wrap {
	text-align: center;
}

.comments__form-btn {
	display: inline-block;
	cursor: pointer;
  position: relative;
  margin: 0 0 28px;
  padding: 0 10px 5px;
  font-family: "Rubik",sans-serif;
  font-size: 30px;
  line-height: 46px;
  font-weight: 300;
  text-transform: none;
  border-bottom: 1px solid $active-color;
  color: #23292f;
  transition: 0.3s all ease;

  &:hover {
  	color: $active-color;
  	border-color: $active-color;
  }

  &::after {
  	content: '';
  	position: absolute;
  	margin-left: -10px;
  	bottom: -20px;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color:  $active-color;

  }
}

.comments__form {
 	display: none;
 	

 	textarea {
 		min-height: 200px;
 	}
}

.comments__form-title {
  margin-bottom: 15px;
}

.post .comments__form {
  display: block;
}


@media (min-width: 1024px) {

  .comments__text {
    font-size: 16px;
  }

	.comments__absent {
    margin-bottom: 25px;
    font-size: 20px;
  }
}