.brands  {
 	padding: 20px 0;
 	list-style: none;
}

.brands__title {
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #23292f;
}

.brands__list {
	overflow: hidden;
	background-color: #fefefe;

  .slick-dots {
    margin-top: 10px;
  }
}

.brands__item {
	text-align: center;
}

.brands__link {
	display: block;
	line-height: 45px;
	font-size: 20px;
	font-weight: bold;
	color: $active-color;
}


.brands__item img{

}


@media (min-width: 768px) { 

  .brands__title {
    margin-bottom: 25px;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {

	.brands {
		padding: 30px 0 20px;
  }

  .brands__list {
    .slick-dots {
      margin-top: 20px;
    }
  }
}