.order__title {
  padding-bottom: 10px;
  font-family: "Rubik",sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #23292f;
  border-bottom: 1px solid #ceedfa;

  &--min {
     margin-top: 15px;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
.order__table {
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  td {
    text-align: center
  }
}

.cart-table__headers,
.cart-table__price-equal {
  display:none;
}

.order__table-row {
  padding: 15px 10px;
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.order__table-image {
  float: left;
  width: 40%;
  text-align: center;
}

.order__table-name {
  padding-top: 5px;
  float: left;
  width: 60%;
  min-height: 50px;
  color: $active-color;
  
}
.order__table-name-link {
  font-weight: 700;
  color: $active-color;
}

.order__table-name-variant {
  display: block;
}

.order__table-price-equal {
  margin-top: 15px;
  float: right;
  width: 60%;
  font-size: 16px;
}

.order__table-amount {
  margin-top: 15px;
  float: left;
  width: 40%;
  font-size: 16px;
  font-weight: bold;
  color: #23292f;
}



.order__table-price {
  margin-top: 5px;
  float: right;
  width: 60%;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #23292f;
 
}

.order__total-price {
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  width: 100%; 
}

.order__total-price-name,
.order__total-price-data {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.order__total-price-name {
  width: 50%;
  text-align: right;
  color: #23292f;
  font-weight: bold;
}

.order__total-price-data {
  text-align: left;
  color: #757575;
}

.order__table-info {
  margin: 15px 0;
  width: 100%;
}

.order__paid-form {
  margin-top: 15px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #12a4dd;
}

.order__paid__form-legend {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 7px 0px;
  color: #333;
  border-bottom: 1px solid #e5e5e5
}

.order__paid-list{
  color: #23292f;

  &--user {
    margin-top: 15px;
  }
}

.order__paid-checkbox {
  margin-top: 10px;
  &:last-child {
    margin-top: 0;
  }
}

.order__paid-checkbox input[type="radio"] {
  display: none;
}

.order__paid-label {
  position: relative;
  padding: 5px 5px 0 30px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  background: #fff;
  text-align: left;
  color: #23292f;
  text-transform: uppercase;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    background: #fff;
  }

  &::after {
    display: none;
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: $active-color;
    border-radius: 50%;
    transition: 0.3s all ease
  }

  svg {
    margin-top: 6px;
    margin-left: 5px;
  }
}

.order__paid-checkbox input[type="radio"]:checked + label::after {
  display: block;
  top: 10px;
  left: 5px;
}

.order__paid-description {
  display: none;
  margin-left: 30px;

  &.is-active {
    display: block;
  }
}

.order__paid-btn {
  margin-top: 15px;
  margin-left: 30px;
}

.order__payment-method {

}

.order__payment-method-title {
  padding: 10px 0;
  color: #23292f;
  text-transform: uppercase;
}

.order__payment-method-form {
  margin-top: 20px;
}

.order__payment-method-form form {
  padding: 10px 20px;
  background-color: #fff;
}

.order__payment-method-form .checkout_button {
  margin: 10px 0;
  padding: 6px 17px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  border-radius: 4px;
  border: 1px solid $active-color; 
  outline: none;
  cursor: pointer;
  background-color: $active-color;
  text-align: center;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .order__title {
    margin-bottom: 25px;
    padding-bottom: 15px;
    padding: 50px 0 30px;
    font-size: 22px;
    br {
      display: none;
    }

    &--min {
      padding: 0;
      padding-bottom: 15px;
    }
  }

  .order__table {
    margin: 20px 0;
  }

  .order__table th,
  .order__table td {
    padding: 15px 10px 15px;
    border:1px solid #dddddd;
  }


  .order__table-headers {
    display: table-row;
    & th {
      text-align: center;
      background-color: #fff;
    }
  }

  .order__table-price-equal {
    display: table-cell;
  }

  .order__table-row {
    display: table-row;
    border-bottom: none;
  }
  
  .order__table-image {
    display: table-cell;
    float: none;
    width: auto;
  }
  
  .order__table-name {
    display: table-cell;
    float: none;
    width: auto;
  }
  
  .order__table-name-link {
    font-weight: 700;
    color: $active-color;
  }

  .order__table-amount {
    display: table-cell;
    float: none;
    width: auto;
  }


  .order__table-price-equal {
    display: table-cell;
    float: none;
    width: auto;
    font-size: 18px;
    line-height: 32px;
    color: $active-color;
  }

  .order__table-price {
    margin-top: 0;
    padding-left: 0;
    display: table-cell;
    font-size: 18px;
    line-height: 32px;
    float: none;
    width: auto;
    color: $active-color;
  }

  .order__table-info {
    margin: 0 auto;
    width: 80%;
  }

  .order__table-info .order__total-price-name {
    width: 35%;
  }

  .order__table-info .order__total-price-data {
    width: 65%;
  }

  .order__payment-method {
    padding: 20px 0;
  }

  .order__paid-description {
    margin-left: 30px;
  }

  .order__paid-btn {
    margin-left: 30px;
  }

}

@media (min-width: 1024px) {

  .order__title {
    font-size: 34px;
    line-height: 45px;

    &--min {
      margin-bottom: 35px;
    }

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .order__total-price {
    width: 80%;
  }

  .order__total-price-name,
  .order__total-price-data {
    padding: 8px 25px;
  }

  .order__paid-form {
    padding: 25px;
  }

  .order__paid-btn {
    margin-top: 30px;
  }
}


@media (min-width: 1365px) {


}