.gallery_slider-nav {
  .img {
  	text-align: center;
  }
}

.slick-prev_vertical,
.slick-next_vertical {
	position: absolute;
	z-index: 10;
  left: 0;
  width:100%;
  background-color: rgba(18,164,221,0.5);
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 0;
}

.slick-prev_vertical {
  top: 0;
  background: rgba(18,164,221,0.5) url(../images/icons/ic_arrow-up.svg) no-repeat center;
  background-size: 20px 20px;
}

.slick-next_vertical {
	top: 100%;
  background: rgba(18,164,221,0.5) url(../images/icons/ic_arrow-down.svg) no-repeat center;
  background-size: 20px 20px;
}

.gallery_slider-for {
  margin-bottom: 20px;
  .img {
    text-align: center;
  }

  .slick-dots {
    margin-top: 10px;
  }
}

@media (min-width: 768px) { 


}