.banner {
  margin-left: -1rem;
  margin-right: -1rem;
}

.banner__list {
  position: relative;
}

.banner__wrap {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.banner__title {
  margin-bottom: 10px;
  font-family: "Rubik",sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.banner__text {
  display: none;
}

.banner__btn {
  min-width: 130px;
  box-shadow: 0 0 13px rgba(0,0,0,0.14);

  &:hover {
    border: 1px solid #ebebeb;
    background: #fff;
    color: #757575;
  }

  svg {
    vertical-align: middle;
  }

  span {
    margin-left: 10px;
    vertical-align: middle;
  }
}
.banner.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.banner .slick-dots  {
  position: absolute;
  z-index: 2;
  bottom: 12px;
}

@media (min-width: 480px) {
  .banner__title {
    font-size: 24px;
  }

  .banner__text {
    display: block;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: .3px;
    text-align: left;
  }
}

@media (min-width: 768px) {

  .banner__wrap { 
    left: 80px;
    right: 80px;
  }

  .banner__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 46px;
  }

  .banner__text {
    margin-bottom: 25px;
  }

}


@media (min-width: 1024px) {

  .banner__wrap { 
    left: 130px;
    width: 380px;
  }

  .banner__text {
    margin-bottom: 50px;
  }

  .banner .slick-dots  {
    bottom: 25px;
  }
}


@media (min-width: 1365px) {


}