.modal-block {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  opacity: 1;
  transition: bottom 0.1s ease 0.4s, opacity 0.2s ease 0.2s;
}

.modal-block__content {
	position: absolute;
	z-index: 101;
	bottom: 100%;
	left: 50%;
	width: 90%;
	max-height: 95vh;
	padding: 2rem;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 3px 60px 10px rgba(0,0,0,0.1);
	overflow-y: auto;
	transform: translate3d(-50%,0,0);
}

.modal-block.is-active {
	bottom: 0;
  opacity: 1;

  .modal-block__content {
  	bottom: 50%;
    transition-delay: 0.2s;
    transform: translate3d(-50%,50%,0);
  }
}

.modal-block__btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.modal-block__body {
	margin-bottom: 30px;
}

.modal-block__img {
	position: relative;
	margin: 0 auto 16px;
	width: 60px;

	&::before {
		content: '+';
		position: absolute;
		top: 0;
		right: -8px;
		padding-top: 1px;
		font-size: 24px;
		width: 25px;
		height: 25px;
		text-align: center;
		color: #fff;
		background-color: $active-color;
		border-radius: 50%;
	}
}

.modal-block__text {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}


.modal-block__submit {
	display: block;
	margin-bottom: 15px;
}
.modal-block__continue {
	text-decoration: underline;
	cursor: pointer;
}


.modal__success {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -90px;
	z-index: 2;
	padding: 20px;
	width: 300px;
	height: 180px;
	text-align: center;
	background-color: #fff;
	border-top: 2px solid $active-color;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.modal__text {
	margin-top: 15px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.modal__btn {
	margin-top: 15px;
	height: auto;
}



@media (min-width: 768px) {

  .modal-block__content {
    min-width: 30rem;
    width: auto;
  }
}


@media (min-width: 1024px) {

  .register__title  {
	  font-size: 32px;
	  line-height: 32px;
  }

}
