textarea {
	resize: none;
}

input[type="text"],
input[type="password"],
textarea {
	margin-bottom: 15px;
  width: 100%;
  background: #f1f1f1;
  border: 1px solid #ebebeb;
  color: #757575;
  font-size: 14px;
  height: 41px;
  line-height: 24px;
  padding: 8.5px 10px 8.5px 20px;
  transition: 0.3s all ease;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
 	background-color: #fff;
 	border-color:#66afe9;
  box-shadow: 0 0 9px rgba(0,0,0,0.03);
 
}

.quantity[type="text"] {
  margin: 0 2%;
  width: 30%;
  text-align: center;
  padding: 8px;
  vertical-align: top;
  background-color: #fff;
  border-radius: 3px;
  height: 42px;
  border: 1px solid #ebebeb;
}

label { 
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #23292f;
}

label.after {
  position: relative;
  padding-left: 3px;
 
  &::after {
    content: "*";
    position: absolute;
    margin-left: 5px;
    color: #ee372a;
    font-weight: bold;  
  }
}

.form__group {
  position: relative;
}

.captcha {
  position: relative;
}

.captcha__img {
  float: left;
  margin-right: 15px;
}

.captcha__input[type="text"] {
  margin-bottom: 0;
  width: 140px;
  height: 43px;
}


.captcha__btn {
  margin-top: 40px;
  width: 100%;
  height: 43px;
}

label.error {
  position: relative;
  margin-top: -15px;
  font-size: 14px;
  line-height: 16px;
  color: #ee372a;
}

input.valid,
textarea.valid {
  border-top-color: $active-color;
  color: #000;
}

#comment_captcha-error {
  position: absolute;
  top: 85px;
}

.message_error {
  color: #ee372a;
}


@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {

  input[type="text"],
  input[type="password"],
  textarea {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .captcha__img {
    margin-right: 25px;
  }

  .captcha__btn {
    margin-top: 0;
    width: auto;
  }

  label { 
    margin-bottom: 8px;
    font-size: 16px;
  }

  label.error {
    margin-top: -20px;
  }

  #comment_captcha-error {
    position: absolute;
    top: 100px;
  }
}