/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;


    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
    display: none;
    &.dragging img {
      pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* SLICK оформление */

/* Arrows */

.banner .slick-prev,
.banner .slick-next {  
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    z-index: 10;
    background-size: 8px;
}

.banner .slick-prev {
  left: 0;
  background-image: url(../images/icons/ic_arrow-left.svg);
}


.banner .slick-next {
  right: 0;
  background-image: url(../images/icons/ic_arrow-right.svg);
}

.banner .slick-prev:hover,
.banner .slick-next:hover {
  background-color: #f5f5f5;
  opacity: 0.7;
}

@media (min-width: 1024px) {
  .banner .slick-prev,
  .banner .slick-next {  
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-size: 8px;
  }

  .banner .slick-prev {
    left: 20px;
  }

  .banner .slick-next {
    right: 20px;
  }
}


.slick-prev--brands,
.slick-next--brands {
    position: absolute;
    z-index: 10;
    width: 80px;
    font-size: 0;
    top: 0;
    bottom: 0;
    margin-top: -80px;
    background-image: none;
    background-color: transparent;
}

.slick-prev--brands:hover,
.slick-next--brands:hover {
  background-color: transparent;
}


.slick-prev--brands{
  left: 0;
}

.slick-next--brands{
  right: 0;
}

.slick-prev--brands::after,
.slick-next--brands::after {
    content:"";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    z-index: 12;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    transition: all .4s ease; 
}

.slick-prev--brands::after {
  background-image: url(../images/icons/ic_arrow-left.svg);
  left: -200px;
}

.slick-next--brands::after {
  background-image: url(../images/icons/ic_arrow-right.svg);
  right: -200px;
}

.slick-prev--brands:hover::after {
  left:20px;
}


.slick-next--brands:hover::after {
  right:20px;
}


/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  position: relative;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background: #fff;
}



.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #12a4dd;
  border-radius: 50%;
  transition: 0.3s all ease;
}

